[Unit]
Description=Homebridge
Wants=default.target
After=default.target

[Service]
ExecStart=/usr/bin/bash /mnt/raid/dev/homebridge/homebridge-start.sh
ExecStop=/usr/bin/bash /mnt/raid/dev/homebridge/homebridge-stop.sh
RemainAfterExit=yes
Restart=on-failure
RestartSec=60
User=james

[Install]
WantedBy=default.target
