[Unit]
Description=Homebridge
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
RemainAfterExit=true
User=james
ExecStart=/usr/bin/bash /mnt/raid/dev/homebridge/homebridge-start.sh
ExecStop=/usr/bin/bash /mnt/raid/dev/homebridge/homebridge-stop.sh

[Install]
WantedBy=multi-user.target
